.pageContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    margin: auto;
    width: auto;
    margin-top: 1rem;
}
.itineraryContainer {
    width:225px;
    overflow-y: scroll;
    flex: 1 0 auto
}
.featureContainer {
    display:flex;
    flex-direction: column;
    flex: 1.25 0 auto;
    gap: 15px;
    margin: 8px;
}
.infoCardContainer {
    width:600px;
}


.infoCardBody {
    max-height: 500px;
    overflow-y: scroll;
}
.detailContainer {
    width:200px;
}

.infoCardButtonContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

div .no-padding {
  padding:0;
}

button .full-width{
  width:100%;
  /* //display:block; //only if you're having issues */
}
