.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 150px

}
.infoContainer {
    flex: 1.5 0 auto;
    width: 300px;
    overflow-y: scroll;
}
.nameContainer {
    flex: 1.5 0 auto;
    width: 75px;
}
